


body {
    font-family: "Poppins" san-serif;
    margin: 0;
   display: flex;
   flex-direction: column;
    color: white;
    background-color: #0a8a0a;
   
}

.contenido {
    margin: 20px;
    padding: 20px;
}

header {
    background-color: #e6e6e6;
    padding: 15px 0;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 30px;
    color: darkblue;
}

.boton-contacto {
    display: inline-block;
    background-color: orange;
    color: white;
    padding: 12px 24px;
    border-radius: 6px;
    font-weight: 600;
    text-decoration: none;
}

footer {
    background-color: darkblue;
    padding: 25px;
    margin: 20;
    color: coral; 
    font-size: 20px;
}

.cat-vid {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-class {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    padding: 15px;
    
    
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.copyright-text {
    display: flex;
    flex-direction: column;
    text-align: center;
}